@use '../../utils/' as *;

/*============= TESTIMONIAL CSS AREA ===============*/
.testimonials-2 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: var(--ztc-bg-bg-1);
  padding: 60px 16px;
  border-radius: 30px;
  margin: 0 auto;
  max-width: 1376px;

  @media #{$xs} {
    margin: 0;
  }
}

.testimonials-2 .left {
  position: relative;
}

.testimonials-2 .left .swiper-button-next,
.testimonials-2 .left .swiper-button-prev {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 50%;
  z-index: 99;

  @media #{$md} {
    top: 110%;
  }

  @media #{$xs} {
    top: 110%;
  }

}

.testimonials-2 .left .swiper-button-next::after,
.testimonials-2 .left .swiper-button-prev::after {
  display: none;
}

.testimonials-2 .left .swiper-pagination span {
  font-size: 16px;
  font-weight: 400;
}

.testimonials-2 .left .swiper-pagination .swiper-pagination-current {
  margin-right: -4px;
}

.testimonials-2 .left .swiper-pagination .swiper-pagination-total {
  margin-left: -4px;
}

.testimonials-2 .block-text .heading {
  text-transform: capitalize;
  margin-bottom: 15px;
}

.testimonials-2 .block-text .desc {
  font-size: 20px;
  padding: 0 100px;
}

@media only screen and (max-width: 1200px) {
  .testimonials-2 .block-text .desc {
    padding: 0;
  }
}

.testimonials-2 {
  .testimonials-box-2 {
    position: relative;
    z-index: 1;
    margin: 0 70px 0 0;
    position: relative;
    z-index: 1;
    border-radius: 30px;
    background: #F4F4F4;
    padding: 24px 40px 24px 32px;

    @media #{$xs} {
      margin: 0 0 30px 0;
    }

    @media #{$md} {
      margin: 0 0 30px 0;
    }

    @media #{$xl} {
      margin: 0;
    }

    .content-area {
      ul {
        li {
          height: 26px;
          width: 26px;
          text-align: center;
          line-height: 26px;
          border-radius: 2px;
          background: rgba(255, 255, 255, 0.10);
          display: inline-block;
          transition: all .4s;
          color: var(--ztc-text-text-1);

          svg {
            height: 16px;
            width: 16px;
            object-fit: cover;
          }
        }
      }

      .icon {
        svg {
          height: 26px;
          width: 26px;
          object-fit: cover;
          color: var(--ztc-text-text-1);
          position: absolute;
          top: 22px;
          right: 18px;
        }
      }

      .text {
        color: var(--ztc-text-text-2);
        font-family: var(--ztc-family-font1);
        font-size: var(--ztc-font-size-font-s28);
        font-style: normal;
        font-weight: var(--ztc-weight-regular);
        line-height: 40px;
        opacity: 70%;
        padding: 0 0 0 0;
      }

      .triangle {
        position: absolute;
        bottom: -34px;
      }
    }

    .bottom {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .info {
        display: flex;
        align-items: center;

        img {
          min-width: 60px;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-right: 20px;
        }

        .content {
          h6 {
            a {
              display: inline-block;
              color: var(--ztc-text-text-2);
              font-size: var(--ztc-font-size-font-s20);
              font-style: normal;
              font-weight: var(--ztc-weight-semibold);
              line-height: 24px;
              transition: all .4s;
              font-family: var(--ztc-family-font1);

              &:hover {
                color: var(--ztc-text-text-4);
                transition: all .4s;
              }
            }
          }

          p {
            color: var(--ztc-text-text-3);
            font-size: var(--ztc-font-size-font-s16);
            font-style: normal;
            font-weight: var(--ztc-weight-medium);
            line-height: 18px;
            padding-top: 12px;
            font-family: var(--ztc-family-font1);
          }
        }
      }
    }
  }
}

.testimonials-2 .testimonials-box-2 .bottom img {
  width: 35.28px;
  height: 40.1px;
  border-radius: 50%;
}

.testimonials-2 .map-testimonial {
  position: relative;
  width: 666px;
  height: 433.01px;
}

@media only screen and (max-width: 1024px) {
  .testimonials-2 .map-testimonial {
    width: 100%;
  }

  .testimonials-2 .map-testimonial img {
    width: 100%;
  }
}

.testimonials-2 .map-testimonial img.map {
  position: absolute;
  top: 0;
  left: 24px;
  top: 60px;
}

.testimonials-2 .map-testimonial .swiper-thumb2 {
  width: 100%;
  height: 100%;
}

.testimonials-2 .map-testimonial .swiper-slide {
  position: absolute;
  z-index: 9;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.testimonials-2 .map-testimonial .swiper-slide div {
  width: 56px;
  height: 56px;
  border: 4px solid var(--ztc-bg-bg-3);
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 10px 25px rgba(71, 92, 133, 0.1);
}

.testimonials-2 .map-testimonial .swiper-slide div::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 2px solid var(--ztc-text-text-4);
  opacity: 0;
}

.testimonials-2 .map-testimonial .swiper-slide div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.testimonials-2 .map-testimonial .swiper-slide div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  top: auto;
  border-color: var(--ztc-bg-bg-3) transparent transparent transparent;
  border-style: solid;
  border-width: 12px 6px 0px 6px;
  height: 0px;
  width: 0px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -14px;
}

.testimonials-2 .map-testimonial .swiper-slide.swiper-slide-thumb-active div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  top: auto;
  border-color: var(--ztc-text-text-4) transparent transparent transparent;
  border-style: solid;
  border-width: 12px 6px 0px 6px;
  height: 0px;
  width: 0px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -14px;
}

.testimonials-2 .map-testimonial .swiper-slide.swiper-slide-thumb-active div::before {
  opacity: 1;
}

.testimonials-2 .map-testimonial .swiper-slide.swiper-slide-thumb-active div::after {
  border-color: var(--ztc-bg-bg-3) transparent transparent transparent;
}

.testimonials-2 .map-testimonial .swiper-slide:nth-child(1) {
  bottom: 5%;
  left: 30%;
}

.testimonials-2 .map-testimonial .swiper-slide:nth-child(2) {
  bottom: 37%;
  left: 50%;
}

.testimonials-2 .map-testimonial .swiper-slide:nth-child(3) {
  bottom: 23%;
  right: 51px;
}

.testimonials-2 .map-testimonial .swiper-slide:nth-child(4) {
  top: 36%;
  right: 18px;
}

.testimonials-2 .map-testimonial .swiper-slide:nth-child(5) {
  top: 22%;
  left: 35%;
}

.testimonials-2 .map-testimonial .swiper-slide:nth-child(6) {
  top: 49%;
  left: 16%;
}

.pagination-buttons {
  button {
    border-radius: 50%;
    border: none;
    background-color: var(--ztc-bg-bg-1);
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    color: var(--ztc-text-text-2);
    font-size: var(--ztc-font-size-font-s20);
    transition: all .4s;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);

    &:hover {
      transition: all .4s;
      background-color: var(--ztc-bg-bg-3);
      color: var(--ztc-text-text-1);
    }
  }

}

.testimonials-2 {
  .pagination-buttons {
    display: inline-block;
    align-items: center;
    position: absolute;
    right: 70px;
    top: 50%;
    margin-top: -40px;

    @media #{$xl} {
      right: 0;
    }

    @media #{$md} {
      right: 0;
    }

    @media #{$xs} {
      position: relative;
      z-index: 1;
      left: 0;
      margin-top: 30px;
      text-align: center;
      justify-content: center;
    }

    .swiper-button-prev {
      position: relative;
      right: -15px;
      left: auto;
      margin-top: 10px;

    }

    .swiper-button-next {
      position: relative;
      right: -15px;
      left: auto;
    }

  }
}

// Homepage 02 //
.testi2 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #F6F8FA;

  .testi-img {
    img {
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      width: 100%;
    }
  }

  .heading1 {
    position: relative;
    z-index: 1;
    padding: 0 0 0 50px;

    @media #{$xs} {
      padding: 0;
      margin-top: 30px;
    }

    @media #{$md} {
      padding: 0;
      margin-top: 30px;
    }

    .testimonial-container {
      position: relative;

      .testimonial-card {
        .stars {
          ul {
            li {
              display: inline-block;
              font-size: var(--ztc-font-size-font-s18);
              color: #ED8438;
            }
          }
        }

        .testimonial-text {
          color: var(--ztc-text-text-3);
          font-family: var(--ztc-family-font1);
          font-size: var(--ztc-font-size-font-s28);
          font-style: normal;
          font-weight: var(--ztc-weight-regular);
          line-height: 40px;
        }

        .profile-quito {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .profile {
            display: flex;
            align-items: center;

            img {
              width: 60px;
              height: 60px;
              object-fit: cover;
              border-radius: 50%;
            }

            .name {
              padding-left: 16px;

              h4 {
                color: var(--ztc-text-text-2);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s20);
                font-style: normal;
                font-weight: var(--ztc-weight-semibold);
                line-height: 20px;
                text-transform: capitalize;
              }

              span {
                color: var(--ztc-text-text-3);
                font-family: var(--ztc-family-font1);
                font-size: var(--ztc-font-size-font-s16);
                font-style: normal;
                font-weight: var(--ztc-weight-medium);
                line-height: 16px;
                padding-top: 10px;
                display: inline-block;
              }
            }
          }
        }
      }
    }

    /* Custom Navigation Buttons */
    .custom-prev,
    .custom-next {
      background: var(--ztc-bg-bg-1);
      width: 56px;
      height: 56px;
      border-radius: 50%;
      text-align: center;
      line-height: 56px;
      display: inline-block;
      color: var(--ztc-text-text-2);
      transition: all .4s;
      position: relative;
      left: 0;
      top: 0;
      margin-top: 30px;

      &:hover {
        background: var(--ztc-bg-bg-3);
        transition: all .4s;

        &:hover {
          &::after {
            filter: brightness(0) invert(1);
            transition: all .4s;
          }
        }
      }
    }

    .custom-prev::after,
    .custom-next::after {
      color: var(--ztc-text-text-2);
      font-size: var(--ztc-font-size-font-s20);
    }

  }
}

// Homepage 03 //
.testimonial1-section-area {
  position: relative;
  z-index: 1;
  overflow: hidden;

  .img1 {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  .slider-galeria {
    .testimonial-slider-content-area {
      position: relative;
      z-index: 1;
      margin: 0 30px;

      @media #{$xs} {
        margin: 30px 0 0 0;
      }

      @media #{$md} {
        margin: 30px 0 0 0;
      }

      .testimonial-author-area {
        position: relative;
        z-index: 1;
        background: var(--ztc-bg-bg-3);
        border-radius: 8px;
        padding: 28px 38px 28px 28px;

        .triangle {
          svg {
            bottom: -34px;
            position: absolute;
          }
        }

        .quito {
          svg {
            position: absolute;
            right: 20px;
            top: 20px;
          }
        }

        ul {
          li {
            display: inline-block;

            a {
              height: 26px;
              width: 26px;
              text-align: center;
              line-height: 26px;
              border-radius: 4px;
              display: inline-block;
              transition: all .4s;
              border-radius: 2px;
              background: rgba(255, 255, 255, 0.10);
              color: var(--ztc-text-text-1);
            }
          }
        }

        p {
          color: var(--ztc-text-text-1);
          font-family: var(--ztc-family-font1);
          font-size: var(--ztc-font-size-font-s18);
          font-style: normal;
          font-weight: var(--ztc-weight-medium);
          line-height: 28px;
          transition: all .4s;
        }

        .elements18 {
          position: absolute;
          bottom: -35px;
        }
      }

      .testimonial-man-info-area {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .man-images-text {
          display: flex;
          align-items: center;

          .mans-img {
            img {
              height: 60px;
              width: 60px;
              text-align: center;
              line-height: 60px;
              border-radius: 50%;
            }
          }

          .man-text {
            padding-left: 16px;

            a {
              color: var(--ztc-text-text-2);
              font-family: var(--ztc-family-font1);
              font-size: var(--ztc-font-size-font-s20);
              font-style: normal;
              font-weight: var(--ztc-weight-semibold);
              line-height: 20px;
              display: inline-block;
              transition: all .4s;
            }

            p {
              color: var(--ztc-text-text-3);
              font-family: var(--ztc-family-font1);
              font-size: var(--ztc-font-size-font-s16);
              font-style: normal;
              font-weight: var(--ztc-weight-medium);
              line-height: 16px;
              transition: all .4s;
            }
          }
        }
      }
    }
  }

  .slider-galeria-thumbs {
    .testimonial3-sliders-img {
      position: relative;

      &.slick-slide.slick-current.slick-active:after {
        position: absolute;
        content: "";
        height: 74px;
        width: 74px;
        background: var(--ztc-bg-bg-3);
        z-index: -1;
        top: -1px;
        left: -2px;
        border-radius: 50%;
      }

      img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        object-fit: cover;
        transition: all .4s;
        margin: 0 0 10px 0;
        cursor: pointer;
      }
    }
  }
}

// Homepage 04 //
.testi4 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1376px;
  border-radius: 40px;
  padding-left: 40px;
  padding-right: 40px;

  @media #{$xs} {
    margin: 0;
    border-radius: 0;
  }

  @media #{$md} {
    margin: 0;
    border-radius: 0;
  }

  .testi-main-area {
    position: relative;
    z-index: 1;

    .testimonial-arrows {
      display: flex;
      align-items: center;
      position: absolute;
      top: -130px;
      right: 0;

      @media #{$xs} {
        position: relative;
        z-index: 1;
        top: 0;
        text-align: center;
        margin-top: 30px;
        justify-content: center;
      }

      @media #{$md} {
        position: relative;
        z-index: 1;
        top: 0;
        text-align: center;
        margin-top: 30px;
        justify-content: center;
      }

      button {
        height: 60px;
        width: 60px;
        text-align: center;
        line-height: 60px;
        border-radius: 50%;
        display: inline-block;
        transition: all .4s;
        background: var(--ztc-bg-bg-1);
        color: var(--ztc-text-text-4);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.09);
        border: none;
        outline: none;
        font-size: var(--ztc-font-size-font-s20);
        z-index: 2;

        &:hover {
          background: var(--ztc-text-text-4);
          transition: all .4s;
          color: var(--ztc-text-text-1);
        }

      }

      .testimonial-prev-arrow {
        margin: 0 16px 0 0;
      }
    }

    .testimonial4-slider-box {
      .testimonial-single-boxarea {
        position: relative;
        z-index: 1;
        background: var(--ztc-bg-bg-1);
        padding: 32px 28px;
        border-radius: 8px;
        transition: all .4s;
        margin: 0 20px 0 0;

        .man-images-text {
          display: flex;
          align-items: center;

          .mans-img {
            img {
              height: 60px;
              width: 60px;
              object-fit: cover;
              border-radius: 50%;
            }
          }

          .man-text {
            padding-left: 16px;

            a {
              color: var(--ztc-text-text-2);
              font-family: var(--ztc-family-font1);
              font-size: var(--ztc-font-size-font-s20);
              font-style: normal;
              font-weight: var(--ztc-weight-semibold);
              line-height: 20px;
              display: inline-block;
              transition: all .4s;
            }

            p {
              color: var(--ztc-text-text-3);
              font-family: var(--ztc-family-font1);
              font-size: var(--ztc-font-size-font-s16);
              font-style: normal;
              font-weight: var(--ztc-weight-medium);
              line-height: 16px;
            }
          }
        }

        p {
          color: var(--ztc-text-text-3);
          font-family: var(--ztc-family-font1);
          font-size: var(--ztc-font-size-font-s18);
          font-style: normal;
          font-weight: var(--ztc-weight-medium);
          line-height: 28px;
          /* 162.5% */
        }

        .brand-img {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-top: 24px;
          border-top: 1px solid #E6E6E8;

          ul {
            li {
              display: inline-block;
              color: #FFA800;
            }
          }
        }
      }
    }
  }

}

/*============= TESTIMONIAL CSS AREA ENDS ===============*/